<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile Page</title>
</head>
<body>
    <h1>Welcome <%= user.name %></h1>
    <h1>Welcome <%= user.email %></h1>
    <h1>Welcome <%= user.city %></h1>
</body>
</html>